<mat-toolbar color="accent" layout-align-md="center end">
  <span class="demo-toolbar">infinite Scroll Example</span>
</mat-toolbar>
<mat-card>
  <div class="container">
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
      [scrollWindow]="false" style="height: 400px; overflow-y: scroll;">

      <table mat-table [dataSource]="allUser">
        <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> EmpID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> FirstName </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
       
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> LastName </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
		
		 <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> DateOfBirth </th>
          <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
		
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
       <!-- 
        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.Gender ==0? 'Male' : 'Female'}} </td>
        </ng-container> -->
       <!-- 
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
        </ng-container>
        <ng-container matColumnDef="MobileNo">
          <th mat-header-cell *matHeaderCellDef> MobileNo </th>
          <td mat-cell *matCellDef="let element"> {{element.MobileNo}} </td>
        </ng-container>
        <ng-container matColumnDef="PinCode">
          <th mat-header-cell *matHeaderCellDef> PinCode </th>
          <td mat-cell *matCellDef="let element"> {{element.PinCode}} </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      </table> 