<mat-toolbar color="accent" layout-align-md="center end">
  <span class="demo-toolbar">Test Angular Project in GCP with Infinite Scroll</span>
</mat-toolbar>
<mat-card>
  <div class="container">
      <div class="row">
        <h5>Technologies Used: </h5>
            <ul>
                <li>Dockerized Angular 7 App with <a target=_blank href="https://material.angular.io/">Angular Material</a> in One Kubernetes Cluster</li>
                <li>Dockerized Java API (Spring Boot, JPA, Hibernate Restful CRUD API) on another Kubernetes Cluster</li>
                <li>Cloud SQL (around 1,00,000 records)</li>
            </ul>
    </div>
    <div class="row">Please scroll down to load more records.<br />Records Loaded till now: {{recordsLoaded}}</div>
    <div class="row" infiniteScroll [infiniteScrollDistance]="1800" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
      [scrollWindow]="false" style="height: 400px; overflow-y: scroll;">

      <table mat-table [dataSource]="allUser">
        <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> EmpID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> FirstName </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
       
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> LastName </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
		
		    <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> DateOfBirth </th>
          <td mat-cell *matCellDef="let element"> {{ element.dob | date }} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
		
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      </table> 

      