<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <a href="/task?id=1" class="btn  btn-primary">Task 1</a>
        <a href="/task?id=2" class="btn  btn-primary">Task 2</a>
        <h4>Data Retrived from API:</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <td>ID</td>
                    <td th:text="${id}">
                    </td>
                </tr>
                <tr>
                    <td>TaskDueDate</td>
                    <td th:text="${taskDueDate}">
                    </td>
                </tr>
                <tr>
                    <td>DocumentDueDate</td>
                    <td th:text="${documentDueDate}">
                    </td>
                </tr>
                <tr>
                    <td>ReferenceNo</td>
                    <td th:text="${referenceNo}">
                    </td>
                </tr>
                <tr>
                    <td>State</td>
                    <td th:text="${state}">
                    </td>
                </tr>
                <tr>
                    <td>ClaimantName</td>
                    <td th:text="${claimantName}">
                    </td>
                </tr>
                <tr>
                    <td>CompanyName</td>
                    <td th:text="${companyName}">
                    </td>
                </tr>
                <tr>
                    <td>TaskName</td>
                    <td th:text="${taskName}">
                    </td>
                </tr>
                <tr>
                    <td>ReceivedDate</td>
                    <td th:text=" ${receivedDate}">
                    </td>
                </tr>
                <tr>
                    <td>AssingedTo</td>
                    <td th:text="${assingedTo}">
                    </td>
                </tr>
                <tr>
                    <td>CreatedAt</td>
                    <td th:text="${createdAt}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>