<mat-toolbar color="accent" layout-align-md="center end">
    <span class="demo-toolbar">Test Angular Project in GCP with Infinite Scroll</span>
</mat-toolbar>
<div class="container">
    <app-navigation></app-navigation>
    <mat-card>
        <div *ngIf="givenName">
            <div *ngIf="profilePicPath"><img src='{{profilePicPath}}' class="float-right"/></div>
            <h2>Hi, {{givenName}}!</h2>
            <button (click)="logout()" class="btn btn-primary">Logout</button>
        </div>


        <div *ngIf="!givenName">
            <h3>Please click the below button to Login:</h3>
            <button (click)="login()" class="btn btn-primary">Sign-in with Google</button>
        </div>
        <router-outlet></router-outlet>
    </mat-card>
</div>