<mat-toolbar color="accent" layout-align-md="center end">
    <span class="demo-toolbar">Test Angular Project in GCP with Infinite Scroll</span>
</mat-toolbar>
<div class="container">
    <nav>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-primary  m-1">Login</a>
        <a routerLink="/home" routerLinkActive="active" class="btn btn-info m-1">Home[Open]</a>
        <a routerLink="/users" routerLinkActive="active" class="btn btn-warning m-1">User[Secured]</a>
    </nav>
    <mat-card>
        <router-outlet></router-outlet>
    </mat-card>
</div>